.nav-link {
	color: white;
	font-size: 35px;
}
.nav-link:hover {
  color: red;
}
.nav-link:active{
	color: red;
} 
.nav-link:focus {
  text-decoration: underline;
}
.nav {
	--bs-nav-link-color: #ff5733;
    --bs-nav-link-hover-color: #ff5733;
}
.btn-dark {
  background-color: #671f1f;
  border-color: white;
}

.btn-dark:hover {
  background-color: red;
}
.btn-dark:active {
	background-color:#671f1f;
}